.content {
    display: flex;
    gap: 200px;
    padding: 10px;
    padding: 50px;

    &__info {
        display: flex;
        flex-direction: column;
    }
}

img {
    max-width: 100%;
}

.main__image {
    width: 500px;
    height: 600px;
    object-fit: contain;
}

.image__item {
    width: 70px;
    margin-right: 14px;
}

.review {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;

}

.review__item {
    width: 300px;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.color {
    display: flex;
    gap: 10px;
}

.size {
    display: flex;
    gap: 5px;
    align-items: center;

    p {
        transform: translateY(40%);
    }
}

button {
    width: auto;
    height: 40px;
    padding: 10px;
    background: inherit;
    border: none;
    border-radius: 4px;
    cursor: pointer;


    &:hover {
        background: #DB4444;
        color: #fff;
    }
}

.bynow {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.free {
    display: flex;
    flex-direction: column;
}