.footer {
    background: #000;
    height: auto;
    display: flex;
    align-items: center;

    &__wrapper {
        color: #fff;
        gap: 87px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }

    &__item {

        ul {
            display: flex;
            flex-direction: column;
            gap: 24px;
            margin-bottom: 16px;

            li:nth-child(1) {
                font-size: 24px;
            }
        }
    }

    &__input {
        border: 1px solid#fff;
        background: inherit;
        width: 205px;
        padding: 4px;
        border-radius: 4px;

        input {
            background: inherit;
            border: none;
            outline-style: none;
            color: #fff;
            padding: 4px;
        }
    }

    &__icons {
        display: flex;
        gap: 25px;
    }
}