@media(max-width:150px) {}

@media(max-width:990px) {
    .navbarTop {
        a {
            display: none;
        }

        &__info {
            margin-right: 10px;
        }
    }

    .navbar {
        &__item {
            display: none;
        }
    }

    .hero {
        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__img {
            max-width: 100%;
            width: 270px;
            height: 250px;
            display: flex;
            justify-content: center;
        }

        &__title {
            text-align: start;
        }
    }
}

@media (max-width: 800px) {
    .category {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
        }
    }

}

@media(max-width:590px) {
    .navbarTop {
        justify-content: center;

        p {
            display: none;
        }
    }

    .navbar {
        &__logo {
            flex: 1;
        }

        &__input {
            display: none;
        }

        &__hamburger {
            display: block;
            margin-left: 15px;
        }

    }

    .category {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }
}

@media (max-width:400px) {
    .hero {
        &__info {
            width: 250px;
            font-size: 35px;
        }

        &__title {
            margin-left: 0px;
            align-items: center;
            justify-content: center;
        }
    }

    .category {
        &__grid {
            grid-template-columns: 1fr;
            place-items: center;
        }
    }

}