@media(max-width:1200px) {
    .products {
        &__card {
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
        }
    }

    .footer {
        &__wrapper {
            grid-template-columns: repeat(4, 1fr);

        }
    }
}

@media(max-width:990px) {
    .navbarTop {
        a {
            display: none;
        }

        &__info {
            margin-right: 10px;
        }
    }

    .navbar {
        &__item {
            display: none;
        }
    }

    .hero {
        &__wrapper {
            flex-direction: column-reverse;
            align-items: center;
        }

        &__img {
            max-width: 100%;
            width: 270px;
            height: 250px;
            display: flex;
            justify-content: center;
        }

        &__title {
            text-align: start;
        }
    }

    .servise {
        &__wrapper {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }

    .feature {
        display: none;
    }

    .footer {
        &__wrapper {
            display: flex;
            flex-wrap: wrap;
        }
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}


@media(max-width:900px) {
    .products {
        &__card {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }

    .banner {
        &__wrapper {
            height: auto;
            align-items: center;
            flex-direction: column-reverse;
        }

        &__title {
            text-align: center;
        }

        &__hour {
            justify-content: center;
        }
    }
}

@media (max-width: 800px) {
    .category {
        &__grid {
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
        }
    }

}

@media(max-width:590px) {
    .navbarTop {
        justify-content: center;

        p {
            display: none;
        }
    }

    .navbar {
        &__logo {
            flex: 1;
        }

        &__input {
            display: none;
        }

        &__hamburger {
            display: block;
            margin-left: 15px;
        }

    }

    .category {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }

    .products {
        &__card {
            grid-template-columns: 1fr;
            place-items: center;
        }
    }

    .feature {
        &__items__speaker {
            justify-content: center;
            flex-direction: column;
        }
    }

    .servise {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }

}

@media (max-width:500px) {
    .feature {
        display: none;
    }

    .products {
        &__arrowBtn {
            display: none;
        }
    }

    .banner {
        &__title {
            h3 {
                font-size: 30px;
            }
        }

        &__hour {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;
        }
    }

    .banner {
        &__title {
            h3 {
                width: 200px;
            }
        }
    }

    .footer {
        &__wrapper {
            justify-content: center;
            text-align: center;
        }
    }
}

@media (max-width:400px) {
    .hero {
        &__info {
            width: 250px;
            font-size: 35px;
        }

        &__title {
            margin-left: 0px;
            align-items: center;
            justify-content: center;
        }
    }

    .category {
        &__grid {
            grid-template-columns: 1fr;
            place-items: center;
        }
    }

    .content {
        padding: 10px;
        gap: 10px;
    }
}