.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #000;
    width: 500px;
    height: 500px;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.navbarTop {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    color: #fff;
    font-size: 14px;

    p {
        transform: translateX(21%);
        display: flex;
        gap: 15px;
    }

    &__info {
        display: flex;
        align-items: center;
        margin-right: 200px;
        gap: 10px;
    }

    select {
        background: inherit;
        color: inherit;
        border: none;
        outline: none;
    }
}

.navbar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 10px;

    &__logo {
        font-weight: 700;
        font-size: 24px;
        letter-spacing: 3%;
    }

    &__item {
        display: flex;
        gap: 50px;

        a {
            text-decoration: none;
            transition: color 0.3s ease;

            &:hover {
                color: #DB4444;
            }
        }

    }

    &__icon {
        display: flex;
        align-items: center;
        gap: 15px;

        i {
            transition: all .5s ease;
            font-size: 18px;

            &:hover {
                color: #DB4444;
            }
        }
    }

    &__input {
        display: flex;
        align-items: center;
        width: 210px;
        height: 40px;
        border-radius: 4px;
        padding: 7px 12px;
        gap: 10px;
        background: #F5F5F5;
        margin-right: 40px;

        input {
            border: none;
            background: inherit;
            outline: none;
        }

        i {
            transition: all .5s ease;

            &:hover {
                color: #DB4444;
            }
        }
    }

    &__hamburger {

        display: none;

        &__wrapper {
            display: flex;
            gap: 3px;
            flex-direction: column;
        }

        &__item {
            width: 25px;
            height: 5px;
            background: #000;
        }
    }
}

.sidebar {
    width: 80%;
    position: fixed;
    top: 0px;
    right: -100%;
    // right: 0;
    transition: right 0.3s ease;
    z-index: 1;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
        height: 100vh;
        border-radius: 20px 0px 0px 20px;
        color: #fff;
        background: #2c2525;
    }

    &__exit {
        width: 100%;
        display: flex;
        justify-content: start;
        cursor: pointer;
    }
}